@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Gentium Plus', serif;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(17, 16, 16) !important;
    position: relative;
    width: 100vw;
    overflow-x: hidden ;
}
.navbar{
    color: white !important;
  }

  .navbar-brand{
    color: white !important;
    font-size: 35px !important;
  }
  .container-fluid{
    display: flex ;
    justify-content: space-around;
    align-items: center;
  }

  .container-fluid a{
    color: white !important;
    font-size: 22px !important;
    transition: all ease-in-out 0.3s;
    /* font-weight: 600; */

    
  }
  .nav a:hover{
    color: gray !important;
    transform: translateY(-3px);
  }

