@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Gentium Plus', serif;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(17, 16, 16) !important;
    position: relative;
    width: 100vw;
    overflow-x: hidden ;
}
.navbar{
    color: white !important;
  }

  .navbar-brand{
    color: white !important;
    font-size: 35px !important;
  }
  .container-fluid{
    display: flex ;
    justify-content: space-around;
    align-items: center;
  }

  .container-fluid a{
    color: white !important;
    font-size: 22px !important;
    transition: all ease-in-out 0.3s;
    /* font-weight: 600; */

    
  }
  .nav a:hover{
    color: gray !important;
    transform: translateY(-3px);
  }

.Sections {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.description{
    width: 98%;
}

.certificates {
    margin: 25px 5px;
}
 ul {
    text-decoration: none ;
    list-style: none;
}
.certificates li a{
    transition: all ease-in-out 0.3s;
}

.certificates li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transform: translateY(-3px);
}

.card {
    position: relative;
    width: 60%;
    height: auto;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 20px 20px 60px #333232, -20px -20px 60px #000000;
    border: 2px solid rgb(255, 255, 255) ;
}

.card a{
    font-size: 25px;
}
.heading-Education{
    /* font-size: 35px; */
    font-size: clamp(3rem, 5vw, 4.5rem);
    color: white;
    display: flex;
    justify-content: center;
    text-align: left;
}
@media  screen and (max-width:1024px) {
    .container-fluid{
        display: block ;
        justify-content: space-evenly;
        align-items: center;
      }
      .nav a{
        padding: 5px !important;
        padding-top: 15px !important;
      }
      .card {
        width: 85%;
    }
   }

   @media  screen and (max-width:520px){
    .card{
        width: 95%;
    }
    .card a{
        font-size: 22px;
    }
    .institution-text h3{
        font-size: 20px;
        font-weight: 500;
    }
    .institution-header img{
        height: 60px;
        width: 60px;
    }
    .institution-header{
        gap: 10px;
    }
   }